* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.calculator {
    width: 60%;
    max-width: 400px;
    margin: 40px auto
}

.calculator-keys {
    display: grid;
    grid-gap: .25rem;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.calculator-keys :first-child {
    height: 0;
    padding-bottom: 100%;
}

button {
    border: none;
}

[data-math="add"],
[data-operation="igual"] {
    grid-row: span 2;
}

[data-number="0"] {
    grid-column: span 2;
}

[data-operation="clear"] {
    grid-column: 1;
    grid-row: 1;
}

.calculator-screen {
    background: rgba(0, 0, 0, .8);
    color: #fff;
    padding: 1rem .5rem;
    margin-bottom: .25rem;
    height: 100px;
    font-size: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}